@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
@import url("./section.css");
@import url("./button.css");
@import url("./nav.css");
@import url("./header.css");
@import url("./about.css");
@import url("./product.css");
@import url("./gallery.css");
@import url("./article.css");
@import url("./media.css");

:root {
  --primary-color: #dc775e;
  --primary-color-dark: #bb654f;
  --text-dark: #171717;
  --text-light: #525252;
  --extra-light: #f5f5f5;
  --white: #ffffff;
  --max-width: 1200px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
}

img {
  width: 100%;
  display: flex;
}

a {
  text-decoration: none;
}
